<footer>
    <nav>
        <a href="https://webpages.charlotte.edu/mjone355/">My UNCC home page</a>
        <a href="https://github.com/matthew-jones-cs">GitHub</a>
        <a href="https://matthew-jones-cs.github.io/">GitHub.io page</a>
        <a href="https://matthew-jones-cs.github.io/itis3135/">Course GitHub.io page</a>
        <a href="https://www.freecodecamp.org/MatthewJ-">freeCodeCamp</a>
        <a href="https://www.codecademy.com/profiles/MatthewJ8924y08">Codecademy</a>
        <a href="https://www.linkedin.com/in/matthew-jones-4ba85a329/">LinkedIn</a>
    </nav>
    <p>Designed by <a href="../jonesinnovations.org/">Jones Inovations</a>, <a href="https://www.freecodecamp.org/certification/MatthewJ-/responsive-web-design"><i>Certified in Responsive Web Design</i></a></p>
</footer>