html
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body
{
    margin-left: 0;
    margin-right: 0;
    background-color: #FFE8D1;
}
p
{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 2vw;
    margin-right: 2vw;
    background-color: #1F628E;
    color: #FFEFEE;
    text-align: center;
}

a
{
    text-decoration: none;
    color: #826251;
}

a:hover
{
    color: #A46746;
}

h1, h2, h3
{
    color: #2A2D34;
    text-align: center;
}

ul
{
    color: #1F628E;
    margin-left: 4vw;
    margin-right: 4vw;
}

.NoBackground
{
    background-color: #FFE8D1;
    color: #1F628E;
}

.NoBackground > a
{
    color: #826251;
}

@media (min-width: 1200px)
{
    p
    {
        width: 1152px;
        margin-left: auto;
        margin-right: auto;
    }

    ul
    {
        width: 1104px;
        margin-left: auto;
        margin-right: auto;
    }
}