/*https://coolors.co/26547c-ef476f-ffd166-06d6a0-fffcf9*/
html
{
    font-family: Georgia, Impact, sans-serif;
    color: #fffcf9;
}

body
{
    background-color: #26547c;
}


h1, h2, h3
{
    font-family: sans-serif;
}

a
{
    text-decoration: none;
    color: #ffd166;
}

a:hover
{
    color: #06d6a0;
}

img
{
    width: 100%;
    max-width: 500px;
    max-height: 700px;
    align-items: center;
    object-fit: cover;
    margin: auto;
    display: block;
    /*border: 3px solid #F15152;*/  /* This is commented out because it makes accumulus give a warning*/
}

li
{
    margin: 30px auto;
}

.horizontal-list > li
{
    display: inline;
    padding: min(5%, 30px);
}

figcaption
{
    font-style: italic;
}


@media (min-width: 600px)
{

}

@media (min-width: 800px)
{
    
}

@media (min-width: 1000px)
{
    
}

@media (min-width: 1200px)
{
    
}