html
{
    font-family: Georgia, Impact, sans-serif;
    color: #F4D8CD;
}

body
{
    background-color: #3A2E39;
}


h1, h2, h3
{
    font-family: sans-serif;
}

a
{
    color: #1E555C;
}

a:visited
{
    color: #EDB183;
}

figure
{
    padding: 50px 50px;
}

figcaption
{
    font-style: italic;
}


@media (min-width: 600px)
{

}

@media (min-width: 800px)
{
    
}

@media (min-width: 1000px)
{
    
}

@media (min-width: 1200px)
{
    
}