html
{
    font-family: Poppins;
    color: #F4D8CD;
}

a
{
    color: #1E555C;
}

a:visited
{
    color: #EDB183;
}


@media (min-width: 600px)
{

}

@media (min-width: 800px)
{
    
}

@media (min-width: 1000px)
{
    
}

@media (min-width: 1200px)
{
    
}