body
{
    border: 90% -20px 3vw 5px;
    border-radius: 50%;
    border-color: antiquewhite;
    border-width: 50px;
}

p
{
    font-size: 100px;
    font-family: "papyrus";
    text-align: center;
}


ul
{
    display: inline;
    align-items: center;
    font-family: "Comic Sans MS";
}


a
{

    margin-top: 5vh;
    margin-left: 20vh;
    margin-right: 5%;
    margin-bottom: 0;
    font-family: "Times New Roman";
}

.ugly
{
    border-top: 10px solid #60E1E0;
    border-left: 30px solid #F26419;
    border-right: 1px solid #F8F8F8;
    border-bottom: 50px solid #F7AEF8;
    border-radius: 0% 10% 50% 5%;
    font-size: 30px;
    margin-left: 30vw;
    margin-right: 30vw;;
}