<footer>
    <nav>
        <p><strong>As the Majestic Jumping spider once said "Time waits for no man ... but then again I am a spider."</strong></p>
        <a href="index.html">Home |</a>
        <a href="link2.html"> Products |</a>
        <a href="about.html"> About us</a>
    </nav>
    <p>Designed by <a href="../jonesinnovations.org/">Jones Inovations</a>, <a href="https://www.freecodecamp.org/certification/MatthewJ-/responsive-web-design"><i>Certified in Responsive Web Design</i></a></p>
</footer>