html
{
    font-family: Georgia, Impact, sans-serif;
    color: #E8DCB9;
}

body
{
    background-color: #334D5C;
}


h1, h2, h3
{
    font-family: sans-serif;
    color: #F0E8D1;
}

h1
{
    text-align: center;
}

a
{
    text-decoration: none;
    color: #9EE493;
}

a:visited
{
    color: #86BBD8;
}

p
{
    text-align: center;
}

.horizontal-list > li
{
    display: inline;
    padding: min(5%, 20px);
}

header
{
    height: max(30px, 10%);
    padding: min(5px, 3%)
}

body
{
    height: max(240px, 80%);
    padding: min(5px, 3%);
}


footer
{
    height: max(30px, 10%);
    padding: min(5px, 3%);
}

footer > p
{
    color: #F0E8D1;
}

@media (min-width: 600px)
{

}

@media (min-width: 800px)
{
    
}

@media (min-width: 1000px)
{
    
}

@media (min-width: 1200px)
{
    
}