<footer>
    <ul class="horizontal-list">
        <li><a href="https://webpages.charlotte.edu/mjone355/">My UNCC home page</a></li>
        <li><a href="https://github.com/matthew-jones-cs">My github</a></li>
        <li><a href="https://matthew-jones-cs.github.io/">My github.io page</a></li>
        <li><a href="https://matthew-jones-cs.github.io/itis3135/">My course github.io page</a></li>
        <li><a href="https://www.freecodecamp.org/MatthewJ-">My freeCodeCamp</a></li>
        <li><a href="https://www.codecademy.com/profiles/MatthewJ8924y08">My Codecademy</a></li>
        <li><a href="https://www.linkedin.com/in/matthew-jones-4ba85a329/">My LinkedIn</a></li>
    </ul>
    <p>Designed by <a href="../jonesinnovations.org/">Jones Inovations</a>, <a href="https://www.freecodecamp.org/certification/MatthewJ-/responsive-web-design"><i>Certified in Responsive Web Design</i></a></p>
</footer>