<header>
    <h1>Matthew Jones' Majestic Jumping Spider | ITIS3135</h1>
    <nav>
        <a href="./">Home</a>
        <a href="./introduction.html">Introduction</a>
        <a href="./contract.html">Contract</a>
        <a href="./review1.html">Review: Jimenez, Edwin</a>
        <a href="./review2.html">Review: Joseph, Elijah</a>
        <a href="./summary.html">Client Project Summary</a>
    </nav>
    <br>
    <br>
    <nav>
        <a href="./hobby/index.html">Hobby</a>
        <a href="../stuff/👍 AGE.htm">Crappy</a>
        <a href="../website_evaluations/website_evaluations.html">Page Evaluations</a>
        <a href="./tables.html">HTML Tables</a>
        <a href="../client_project/project_overview.html">Client Project Guidelines</a>
        <a href="./projects/index.html">Client Project</a>
    </nav>
</header>